# build artifacts
build
**/artifacts/**

# txt files
*.txt

# node modules
node_modules

# python script
*.py

# log files
*.log

# coverage 
coverageEnv
coverage
coverage.json

#package-lock
package-lock.json

notes.txt
